* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 3000px;
    padding-top: 185px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    background-color:#F18E00;
    /* background-color: white; */
}

#header-wrapper {
    display: flex;
    flex-direction: column;
    /* background-color: lightcoral; */
    width: 955px;
    border-left: 25px solid #F18E00;
    border-bottom-left-radius: 20px;
    border-right: 25px solid #F18E00;
    border-bottom-right-radius: 20px;
}

#header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    /* background-color: lightgreen; */
    background-color: white;
    border-radius: 0px;
    margin-bottom: -4px;
    height: 110px;
}

#header-top img {
    height: 75px;
}

#header-top-right img {
    height: 110px;

}

#header-bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    /* background-color: lightsalmon; */
    background-color: #F18E00;
    height: 75px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.nav-text-container {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: 0.15s;
}

.nav-text-container:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 1)
}

.nav-text-container p {
    color: white;
    font-weight: 500;
}

#navactive {
    border-bottom: 2px solid rgba(255, 255, 255, 1)
}


#header-bot-cta-container {
    display: flex;
    justify-content: end;
    flex: 1;
}

#header-cta-button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0);
}

#header-cta-button:hover {
    background-color: #F18E00;
    color: white;
    border: 2px solid rgba(255, 255, 255, 1);
}

#header-dropdown-menu {
    display: none;
}








p {
    font-size: 18px;
}

a {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {

    nav {
        display: none;
    }

    #header-dropdown-menu {
        display: block;
    }
}


@media only screen and (max-width: 715px) {

    #header-top-extra-image {
        display: none;
    }

}